# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/

# Static files
# (already included above)
# staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
